@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --gradient: linear-gradient(90deg, #ee6352, purple, #ee6352);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-height: 100vh;
    background: #141414;
    background-image: var(--gradient);
    background-size: 300%;
    animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation{
    0% {background-position: left;}
    100% {background-position: right;}
}

.content{
    background-color: white;
    padding: 3em;
    width: 70vw;
    box-shadow: 0 0 3em rgba(189, 189, 189, 0.15);
}

.title {
    margin: 0 0 .5em;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 6rem;
    color: #ee6352;
    line-height: .8;
    margin: 0;

    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300%;
    /* animation: bg-animation 5s infinite alternate; */
}
.fun{
    border: none;
    color: white;
    cursor: pointer;
    padding: .5em 1.5em;
    font-size: 1rem;
    font-weight: 700;
    background-image: var(--gradient);
    background-size: 300%;
    background-position: left;
    transition: background-position 1s;
}

.fun:hover, .fun:focus{
    background-position: right;
}